@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Spline+Sans:wght@300..700&display=swap');


body{
    font-family: "spline sans", sans serif;
    color: #777;
    line-height: 0.5;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: #222;
}

a{
    color: #c61b1b;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}

a:hover{
    color: #F58d17;
}

.logo{
  width: 5%;
margin-left: 2%;
margin-top: -2.5%;
  position: absolute;
}

.display-1, .display-2{
  font-size: 50px;
}

.about-image {
    width: 100%;
    height: auto;
  }


section{
    padding-top: 8%;
    padding-bottom: 8%;
}

.shadow-on-hover{
  transition: all 0.4s;
}

.shadow-on-hover:hover{
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.slide1, .slide2 {
    text-align: center;
    background-color: #252121;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .uvod {
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }

.container {
    height: 100%;
  }
  
.row {
    height: 100%;
  }
  
.col-lg-8 {
    text-align: center;
  }


img{
    width: 100%;
  
}

.btn{
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand{
    color: #fff;
    font-weight: 500;
    background-color: #F58d17;
    border-color: #F58d17;
}

.btn-brand:hover{
    background-color: #cb7411;
    border-color: #cb7411;
    color: #fff;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.slide1{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Images/background.png") !important;

}

.slide2{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./Images/simonabg.png") !important;
}

#heroSlider h6::after,
#heroSlider h6::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #fff;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;


}

.carousel-control-prev, .carousel-control-next
{
    background-color: #000000;
    width: 5%;
    height: 10%;
    margin: auto;
}

#about .divider {
  width: 60px;
  height: 2px;
  display: block;
  background-color: #F58d17;

}

p {
  line-height: 1.5;
}

.intro-text{
  margin-bottom: 40px;
  align-items: center;
  margin: auto;
}

.intro-text p {
  max-width: 500px;
  margin: auto;
}

.more{

  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -3%;
}
.intro-text {
  display: flex;
  flex-direction: column;
}

#menuobsah .nav-pills .nav-link{
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  color: #222;
  border-radius: 100px;
  margin-top: 40px;

}

#menuobsah .nav-pills .nav-link.active{
  background-color: #F58d17;
  color: #fff;
}

.menu-item .stars{
  color: #F58d17;
}

#features{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Images/pivo.jpg");
}

.feature{
  border: 2px solid rgba(255,255,255,0.2);
}

.feature .feature-icon{
  width: 80px;
  height: 80px;
  background-color: #F58d17;
  color: #fff;
  font-size: 28px;
  display: inline-grid;
  align-content: center;
  text-align: center;
  justify-content: center;

}

#recenze{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Images/pivo.jpg");
}

.review img{
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.review .quote-icon{
  font-size: 74px;
  color: #F58d17;
  line-height: 1.5;
}

.review .stars{
  color: #F58d17;
}

.carousel-indicators{
  margin-bottom: -3rem;
}

#reservation .form-control:focus{
  box-shadow: none;
  border-color: #F58d17;
}

#reservation input.form-control{
  height: 47px;
}


footer{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Images/pivo.jpg");
  padding-top: 120px;
  padding-bottom: 30px;
}

.footer-top{
  margin-bottom: 30px;
}

footer p, footer a{
  color: #a2a2a2;
}

footer .social-links a {
  font-weight: normal;
  font-size: 24px;
  margin-right: 10px;
}


footer img{
  width: 110px;
}

.footer-bottom{
  padding-top: 30px;
  border-top: 1px solid #777;
}



@media (max-width: 768px) { 


  .display-1, .display-2{
    font-size: 35px;
  }
  
  

  img {
    display: block;
    margin: 0 auto;
  }


  #menuobsah .nav-pills .nav-link {
    display: block;
    margin: 0 auto;
  }


  .carousel-caption {
    text-align: center;
  }


  .about-image {
    margin: 0 auto;
  }

  .logo {
    display: none;
  }




}
 
